server:
  port: 50101 #服务端口
spring:
  application:
    name: xc-govern-center #指定服务名
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://127.0.0.1:50101/eureka/
    registry-fetch-interval-seconds: 10 #从eureka服务器注册表中获取注册信息的时间间隔
    instance-info-replication-interval-seconds: 20 #发送实例变化信息到eureka服务器所需要的时间间隔

  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 60000 #清理间隔
  instance:
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 15
    instance-id: ${eureka.instance.ip-address}-${spring.application.name}:${server.port}
    ip-address: 127.0.0.1
    prefer-ip-address: true
#server:
#  port: 50101 #服务端口
#spring:
#  application:
#    name: xc-govern-center #指定服务名
#eureka:
#  client:
#    register-with-eureka: false
#    fetch-registry: false
#    service-url:
#      defaultZone: http://127.0.0.1:50101/eureka/
#    registry-fetch-interval-seconds: 10
#  server:
#    enable-self-preservation: false
#    eviction-interval-timer-in-ms: 60000 #清理间隔
#  instance:
#    lease-renewal-interval-in-seconds: 5
#    lease-expiration-duration-in-seconds: 15
#    instance-id: ${eureka.instance.ip-address}-${spring.application.name}:${server.port}
#    ip-address: 127.0.0.1